@import '../../styles/variables.sass'

.MissedLetters
  flex: 0.55
  &-Header
    font-size: $header
    text-transform: uppercase
    font-weight: bold
    color: $darkGray
    letter-spacing: 0.1rem
  &-Letters
    font-size: $veryBig
    color: $lightBlue
    text-transform: uppercase
    letter-spacing: 2rem
